 .wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #359ebb;
 }


.form-wrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px rgb(8, 8, 8);
    background-color: #020202;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.h1 {
    text-align: center;
    width: 100%;
    color: rgb(16, 188, 231);
    font-weight: lighter;
    font-family:Georgia, 'Times New Roman', Times, serif;
   
}
.label {
    font-size: 0.8em;
    margin-bottom: 0.25em;
    color: #222;
    font-weight: lighter;
}

input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #080808;
}

input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: rgb(209, 201, 201);
}



.userName,
.password {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    color: white;
}

.userName,
.password {
    width: 100%;
}

.signup{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
 

}

.signup button {
    background-color: #131414;
    color: #fff;
    border: 2px solid #fff;
    width: 150%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: light;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
    align-items: center;
    
}

.signup button:hover {
    color: #519e8a;
    background-color: rgb(10, 10, 10);
    border: 2px solid #519e8a;
}

.createAccount small {
    color: #999;
    font-weight: lighter;
}